<div class="content" role="main">

  <img src="./../../assets/iitb_sports.jpeg" width="30%" height="30%" style="border-radius: 100px;">


  <h2 style="color:rgb(255, 175, 157) ;">IITB Sports</h2>

  <div class="card-container">

    <a class="card card-small" href="https://binarydigit.io/?utm_source=bitlink" target="_blank" rel="noopener">Blog</a>

    <a a class="card card-small" href="https://binarydigit.io/portfolio/?utm_source=bitlink" target="_blank"
      rel="noopener">Portfolio</a>

   

  </div>
</div>
