<!-- <div class="heading display-4 mt-5 mb-1">{{sport}}</div> -->
<mat-menu #menu="matMenu" style="background-color: rgb(43, 35, 56); border-top: purple">
  <button mat-menu-item style="background: rgb(255, 255, 255); color: white; border-radius: 1px">
    <!-- <mat-icon aria-hidden="true" aria-label="Example home icon"
      style="color: rgb(228,125,198); position: absolute; top: 10px;">
      sports
    </mat-icon><a class="nav-link" routerLink="detail" routerLinkActive="active-link"
      style="margin-left: 13px;color: rgb(220, 125, 198);">{{sport}}</a><br>
  </button>
  <button mat-menu-item style="background:rgb(255,255,255); color: white;border-radius: 1px;">
    <!-- <mat-icon aria-hidden="true" aria-label="Example home icon"
      style="color: rgb(228,125,198); position: absolute; top: 10px;">
      events
    </mat-icon> -->
    <a class="nav-link" routerLink="../events" routerLinkActive="active-link"
      style="margin-left: 13px; color: rgb(220, 125, 198)">Events</a><br />
  </button>
  <button mat-menu-item style="background: rgb(255, 255, 255); color: white; border-radius: 1px">
    <!-- <mat-icon aria-hidden="true" aria-label="Example home icon"
      style="color: rgb(228,125,198); position: absolute; top: 10px;">
      book
    </mat-icon><a class="nav-link" routerLink="rules" routerLinkActive="active-link"
    </mat-icon> -->
    <a class="nav-link" routerLink="rules" routerLinkActive="sport/lawn_tennis/rules"
      style="margin-left: 13px; color: rgb(220, 125, 198)">Rules</a><br />
  </button>

  <button mat-menu-item style="background: rgb(255, 255, 255); color: white; border-radius: 1px">
    <!-- <mat-icon aria-hidden="true" aria-label="Example home icon"
      style="color: rgb(228,125,198); position: absolute; top: 10px;">
      people
    </mat-icon> -->
    <a class="nav-link" routerLink="../people" routerLinkActive="active-link"
      style="margin-left: 13px; color: rgb(220, 125, 198)">People</a><br />
  </button>

  <button mat-menu-item style="background: rgb(255, 255, 255); color: white; border-radius: 1px">
    <!-- <mat-icon aria-hidden="true" aria-label="Example home icon"
      style="color: rgb(220, 125, 198); position: absolute; top: 10px">
      timer_10
    </mat-icon> -->
    <a class="nav-link" routerLink="../matches" routerLinkActive="active-link"
      style="margin-left: 13px; color: rgb(220, 125, 198)">Matches</a><br />
  </button>
</mat-menu>
<div class="sport-name-div" style="margin-top: 10%">
  <img src="../../assets/lawntennis_logo.png" style="float: left; margin-top: -10%" />
  <div class="heading" style="float: inline-end">
    {{ sport | uppercase }}
  </div>
</div>

<button mat-icon-button [matMenuTriggerFor]="menu" id="menu-icon">
  <mat-icon style="font-size: 52px">more_vert</mat-icon>
</button>
  <!-- <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul> -->
  <!-- <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" id="menu-icon"
      (click)="drawer1.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button> -->
  <!-- <span id="menu-icon" (click)="drawer1.toggle()" class="material-icons">menu</span> -->
  <!-- <mat-drawer-container>
  
      <mat-drawer role="navigation" #drawer1 position='start' mode="over" style="background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
      background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
      background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);width: 100%;text-align: center;">
        <a class="nav-link" routerLink="detail" routerLinkActive="active-link" (click)='drawer1.close()'>{{sport}}</a><br>
        <a class="nav-link" routerLink="events" routerLinkActive="active-link" (click)='drawer1.close()'>Events</a><br>
        <a class="nav-link" routerLink="rules" routerLinkActive="active-link" (click)='drawer1.close()'>Rules</a><br>
        <a class="nav-link" routerLink="people" routerLinkActive="active-link" (click)='drawer1.close()'>People</a><br>
        <a class="nav-link" routerLink="facilities" routerLinkActive="active-link"
          (click)='drawer1.close()'>Facilities</a><br>
        <a class="nav-link" routerLink="matches" routerLinkActive="active-link" (click)='drawer1.close()'>Matches</a><br>
      </mat-drawer>
  
      <mat-drawer-content> -->
  
  <!-- </mat-drawer-content>
    </mat-drawer-container> -->
  <!-- </mat-card> -->
  <mat-card class="mat-drawer-container container" style="background: transparent; box-shadow: none;">
    <div>
        <ul class="customIndent">
            <li>
                Court Timings
                <ul class="customIndent">
                    <li>Tennis courts are open daily except for certain institute holidays
                    </li>
                    <li>Morning timings: 6:00 am to 9:00 am
                    </li>
                    <li>Evening timings: 3:30 pm to 10:00 pm
                    </li>
                </ul>
            </li>
            <li>Who may use the courts?
                <ul class="customIndent">
                    <li>IIT Bombay students, staff and faculty possessing a valid IIT Bombay identity card
                    </li>
                    <li>Guests must be accompanied by the host member
                    </li>
                    <li>Players must make an entry in the logbook on entering and leaving the courts
                    </li>
                </ul>
            </li>
            <li>Priority of play and court reservations
                <ul class="customIndent">
                    <li>The courts are available on a first come-first serve basis
                    </li>
                    <li>Players may be asked to vacate the courts which are pre-reserved during the specified hours, if the need arises
                    </li>
                    <li>Courts are not open for reservations. Special requests regarding the same may be put forward to the council
                    </li>
                    <li>Courts may be pre-reserved for girls, Institute events or team practice. Information regarding the same will be put up on the notice board
                    </li>
                </ul>
            </li>
            <li>General rules for court use
                <ul class="customIndent">
                    <li>Courts are to be used only for playing tennis
                    </li>
                    <li>Tennis shoes or gum soled shoes are mandatory when using the courts
                    </li>
                    <li>Running shoes are strictly not permitted
                    </li>
                    <li>Please dispose off the trash in proper receptacles
                    </li>
                    <li>No eatables are allowed on the courts
                    </li>
                </ul>
            </li>
            <li>Enforcement of rules
                <ul class="customIndent">
                    <li>IIT Bombay Sports will enforce the rules of court play through the council and the caretakers of the courts
                    </li>
                    <li>Failure to adhere to the rules will result in loss of court privileges and other disciplinary actions.
                    </li>
                </ul>
            </li>
            <li>Issue of equipment
                <ul class="customIndent">
                    <li>Racquets and balls can be issued from the store room outside the tennis courts, only on on entering your name in the logbook and depositing your ID cards
                    </li>
                    <li>Issued equipment should be used properly and returned after use without any damage
                    </li>
                </ul>
            </li>
            <li>Rules regarding fine
                <ul class="customIndent">
                    <li>If issued racquets are found broken or missing, then a minimum fine of INR 1,000 will be imposed on the issuer
                    </li>
                    <li>The fine may be higher depending upon the extent of damage caused
                    </li>
                    <li>Any other damage to the courts or equipment would imply a strict disciplinary action and fine against the offender
                    </li>
                </ul>
            </li>
        </ul>
    </div>

  
    <router-outlet></router-outlet>
  
  
  </mat-card>
  
