.example-stretched-tabs {
    max-width: 800px;
  }
.name{color: black;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
    -webkit-transform: scale(1.5);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    

.name:hover{
    font-size: xx-large;
    text-align: center;
    color: ivory;
    -webkit-transform: scale(2);
	transform: scale(1.1);

}
.post{
    text-align: center;
    font-size: large;

}
.dpdiv{

    background-color: silver;
}
.div{

    border-radius: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Zoom Out #1 */
.div{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.div:hover  {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.content{
    text-align: center;
    font-family: cursive;
}
.contentno{
    text-align: center;
    font-family:monospace;
    font-size: 20px;
}
.mat-tab-group{
    color: ivory;
}
.main{
    margin: 10px;
    border-end-start-radius: 20px;
    border-start-end-radius: 20px;

}
.copybtn{-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.copybtn :hover{
    -webkit-transform: scale(0);
	transform: scale(0);
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field + .mat-select-panel {
  margin-left: 8px;
}

