<div class="section-header">AAVHAN</div>
<a (click)="generatecertificate(name, file_location)">
<mat-card>
	<figure>
		<img src="../../assets/certificates/Rubrix_200_230_45_Helvetica.jpg">
		<figcaption>Aavhan 2021 participation</figcaption>
	</figure>
</mat-card>
</a>
<a (click)="generatecertificate(name, file_location2)">
<mat-card>
	<figure>
		<img src="../../assets/certificates/Rubrix_200_230_45_Helvetica.jpg">
		<figcaption>Aavhan 2021 participation</figcaption>
	</figure>
</mat-card>
</a>
<mat-card>
	<figure>
		<img src="../../assets/certificates/Rubrix_200_230_45_Helvetica.jpg">
		<figcaption>Aavhan 2021 participation</figcaption>
	</figure>
</mat-card>

<div class="section-header">AAVHAN</div>
<mat-card>
	<figure>
		<img src="../../assets/certificates/Rubrix_200_230_45_Helvetica.jpg">
		<figcaption>Aavhan 2021 participation</figcaption>
	</figure>
</mat-card>
<mat-card>
	<figure>
		<img src="../../assets/certificates/Rubrix_200_230_45_Helvetica.jpg">
		<figcaption>Aavhan 2021 participation</figcaption>
	</figure>
</mat-card>
<mat-card>
	<figure>
		<img src="../../assets/certificates/Rubrix_200_230_45_Helvetica.jpg">
		<figcaption>Aavhan 2021 participation</figcaption>
	</figure>
</mat-card>

