<body>

  <!-- Section One -->
  
  <section class="section-one">
    <div ><img src="./../../assets/iitbsports.png" style="height: 100px;width:100px;filter: brightness(1) invert(1);margin-top:30%;display: table-cell;"></div>
    <div><h2 class="header" style="color: rgb(143, 34, 143);padding-top: -20%;display: table-cell">Until. Victory. Always.</h2></div>
    <p class="section-one-paragraph" style="color: black;">The Institute Sports Council strives to provide regular platforms for students of the institute by
      conducting various events at the Institute and Inter-Hostel level.</p>
    

  </section>
  <div class="card-container" style="margin-top: -10%;">

    <a class="card card-small" href={{loginHref}}>Login</a>

    <a a class="card card-small" href="contact-us">Contact Us</a>

   

  </div>
  <!-- Section Two -->
  <section class="section=two">
  </section>
  